/* GLOBAL - START */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main: #000;
    --contrast: #302f2f;
    --font: #fff;
    --button: #5de64b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main: #000;
        --contrast: #302f2f;
        --font: #fff;
    }
}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-color: var(--main);

    font-size: 1.6rem;
    color: var(--font);
}

h1, h2, h3, h4, h5 {
    margin: 2rem;
    text-align: center;
}

p {
    text-align: justify;
}

ul {
    list-style: "☘️  ";
    padding: 0 2rem;
}

li {
    text-align: justify;
}

nav ul {
    list-style: none;
}

header a {
    color: var(--font);
    text-decoration: none;
    font-weight: 700;
}

.container {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .container section {
        width: calc(50% - 3rem);
    }
}

/* GLOBAL - END */


/* BODY - START */

    /** HEADER **/

header {
    position: fixed;
    z-index: 99999;
    
    height: 5rem;
    width: 100%;

    border-bottom: .1rem solid var(--font);
    padding: 0 2rem;
    background-color: var(--contrast);

    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

        /*** LOGO ***/

.logoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo{
    height: 3rem;
    border-radius: 100%;
    border: .2rem solid var(--font);
}

.pc {
    display: none;
}

@media (min-width: 768px) {
    .mobil {
        display: none;
    }
    .pc {
        display: block;
    }
}

        /*** NAV ***/

.menuIcon {
    position: relative;
    font-weight: 700;
    font-size: 2rem;
}

.menu {
    position: absolute;
    top: 50px;
    right: -5px;
    z-index: 9999;

    visibility: hidden;

    opacity: 0;
    transition-delay: 0.5s;

    background-color: var(--contrast);

    display: flex;
    flex-direction: column;
}

.menu li {
    padding: 1rem;

    text-align: center;
}

nav:hover {
    cursor: pointer;
}

nav:hover .menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.menu:hover {
    visibility: visible;
}

@media (min-width: 768px) {
    .menuIcon {
        display: none;
    }
    
    .menu {
        position: static;
        visibility: visible;
        opacity: 1;
        flex-direction: row;
    }
}

    /** HERO **/

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
}

@media (min-width: 768px) {
    .hero {
        overflow: hidden;
        height: calc(100vh - 5rem);
    }
}

    /** MAIN **/

main {
    margin: 1rem 12%;

}

.aboutUs {
    justify-content: center;
    
    line-height: 2.5rem;
}

        /*** BLOG ***/

.blog {
    flex-wrap: wrap;
    justify-content: center;
}

.blogPost {
    width: 30rem;
    
    margin-top: 4rem;
    border: .3rem solid var(--font);
    border-radius: 20%;
    background-color: var(--contrast);
    padding: 0 0 2rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.blogImg {
    height: 18rem;
}

.blogImg img {
    position: relative;
    width: 25rem;
    top: -55px;
    left: 0;
    right: 0;

    border: .8rem solid var(--font);
    border-radius: 50%;
}

.blogTitle {
    background-color: var(--font);
    color: var(--main);

    display: flex;
}

.blogDescription {
    padding: 0 2rem;

    font-size: 1.4rem;
}

.readMore {
    cursor: pointer;
    
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--button);

    font-size: 1.7rem;
    font-weight: 700;
    color: var(--font);
    text-decoration: none;
}

    /** FOOTER **/

footer {
    margin: 4rem;

    border-top: 0.1rem solid var(--font);
}

footer a {
    color: var(--font);
}

/* BODY - END */